
body {
    margin: 0;   
}

.wall {
    /* The wall to hang the page on */
    position:absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-width: 0;
}

.banner {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 34vh;
    background-color: #f3f4f6;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.center-card {
    width: 100vw;
    max-width: 28rem;
    background-color: white;
    height: 25vh;
    justify-items: center;
    border-radius: 0.5rem;
}

.card-content {
    padding: 24px;
    width: 362px;
    height: 180px;
    justify-items: center;
}

.signin-form {
    margin-top: 1rem;
    justify-items: center;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.signin-form > * + * {
    margin-top: 1rem;
}

.signin-form > * > input {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px, solid, #c9ccd1;
    border-radius: 5px;
    width: 336px;
    height: 26px;
    font-size: large;
}

.signin-form > button {
    background-color:#8f2829 ;
    color: white;
    border: none;
    width: 362px;
    height: 36px;
    border-radius: 5px;
    font-size: large;
}

a {
    text-decoration: none;
    font-size: large;
}

.shadow {
    box-shadow: 0.1px 0.1px 0.1px 0.1px rgba(172, 171, 171, 0.748);
}